In [ ]:
import numpy as np
import pandas as pd

### タイプデータ作成

In [ ]:
df = pd.read_csv('/content/ポケモンデータシート_カントー.csv')
df.head()

   ぜんこくNo.     名前 タイプ1 タイプ2  HP  攻撃  防御   特攻   特防  素早さ
0        1  フシギダネ   くさ   どく  45  49  49   65   65   45
1        2  フシギソウ   くさ   どく  60  62  63   80   80   60
2        3  フシギバナ   くさ   どく  80  82  83  100  100   80
3        4   ヒトカゲ  ほのお  NaN  39  52  43   60   50   65
4        5   リザード  ほのお  NaN  58  64  58   80   65   80

In [ ]:
# タイプ1とタイプ2を結合し、重複削除
type1 = df['タイプ1'].unique().tolist()
type2 = df['タイプ2'].unique().tolist()
type_all = type1 + type2
type_all = set(type_all)
type_all = list(type_all)
print(type_all)

[nan, 'じめん', 'くさ', 'フェアリー', 'あく', 'いわ', 'エスパー', 'ひこう', 'みず', 'むし', 'こおり', 'ドラゴン', 'ゴースト', 'でんき', 'どく', 'ほのお', 'はがね', 'かくとう', 'ノーマル']

In [ ]:
# nan削除
del type_all[0]
print(type_all)

['じめん', 'くさ', 'フェアリー', 'あく', 'いわ', 'エスパー', 'ひこう', 'みず', 'むし', 'こおり', 'ドラゴン', 'ゴースト', 'でんき', 'どく', 'ほのお', 'はがね', 'かくとう', 'ノーマル']

In [ ]:
# csv用にリスト化
tmp_list = [['no', 'type']]
type_dict = {}
for no, type in enumerate(type_all):
    tmp_list.append([str(no + 1), type])
    type_dict[type] = str(no + 1)
print(tmp_list)

[['no', 'type'], ['1', 'じめん'], ['2', 'くさ'], ['3', 'フェアリー'], ['4', 'あく'], ['5', 'いわ'], ['6', 'エスパー'], ['7', 'ひこう'], ['8', 'みず'], ['9', 'むし'], ['10', 'こおり'], ['11', 'ドラゴン'], ['12', 'ゴースト'], ['13', 'でんき'], ['14', 'どく'], ['15', 'ほのお'], ['16', 'はがね'], ['17', 'かくとう'], ['18', 'ノーマル']]

In [ ]:
# csv出力
import csv
with open('pokemon_type.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(tmp_list)

### ポケモン・タイプ中間データ作成

In [ ]:
df.head()

   ぜんこくNo.     名前 タイプ1 タイプ2  HP  攻撃  防御   特攻   特防  素早さ
0        1  フシギダネ   くさ   どく  45  49  49   65   65   45
1        2  フシギソウ   くさ   どく  60  62  63   80   80   60
2        3  フシギバナ   くさ   どく  80  82  83  100  100   80
3        4   ヒトカゲ  ほのお  NaN  39  52  43   60   50   65
4        5   リザード  ほのお  NaN  58  64  58   80   65   80

In [ ]:
type_dict

{'あく': '4',
 'いわ': '5',
 'かくとう': '17',
 'くさ': '2',
 'こおり': '10',
 'じめん': '1',
 'でんき': '13',
 'どく': '14',
 'はがね': '16',
 'ひこう': '7',
 'ほのお': '15',
 'みず': '8',
 'むし': '9',
 'エスパー': '6',
 'ゴースト': '12',
 'ドラゴン': '11',
 'ノーマル': '18',
 'フェアリー': '3'}

In [ ]:
# 中間テーブル作成
pokemon_type = [['pokemon_id', 'type_id']]
for index, data in df.iterrows():
    pokemon_type.append([data['ぜんこくNo.'], type_dict[data['タイプ1']]])
    if data['タイプ2']  in type_dict:
        pokemon_type.append([data['ぜんこくNo.'], type_dict[data['タイプ2']]])
print(pokemon_type)

[['pokemon_id', 'type_id'], [1, '2'], [1, '14'], [2, '2'], [2, '14'], [3, '2'], [3, '14'], [4, '15'], [5, '15'], [6, '15'], [6, '7'], [7, '8'], [8, '8'], [9, '8'], [10, '9'], [11, '9'], [12, '9'], [12, '7'], [13, '9'], [13, '14'], [14, '9'], [14, '14'], [15, '9'], [15, '14'], [16, '18'], [16, '7'], [17, '18'], [17, '7'], [18, '18'], [18, '7'], [19, '18'], [20, '18'], [20, '4'], [20, '18'], [21, '18'], [21, '7'], [22, '18'], [22, '7'], [23, '14'], [24, '14'], [25, '13'], [26, '13'], [27, '1'], [28, '1'], [29, '14'], [30, '14'], [31, '14'], [31, '1'], [32, '14'], [33, '14'], [34, '14'], [34, '1'], [35, '3'], [36, '3'], [37, '15'], [38, '15'], [39, '18'], [39, '3'], [40, '18'], [40, '3'], [41, '14'], [41, '7'], [42, '14'], [42, '7'], [43, '2'], [43, '14'], [44, '2'], [44, '14'], [45, '2'], [45, '14'], [46, '9'], [46, '2'], [47, '9'], [47, '2'], [48, '9'], [48, '14'], [49, '9'], [49, '14'], [50, '1'], [51, '1'], [52, '18'], [53, '18'], [54, '8'], [55, '8'], [56, '17'], [57, '17'], [58, '15'], [59, '15'], [60, '8'], [61, '8'], [62, '8'], [62, '17'], [63, '6'], [64, '6'], [65, '6'], [66, '17'], [67, '17'], [68, '17'], [69, '2'], [69, '14'], [70, '2'], [70, '14'], [71, '2'], [71, '14'], [72, '8'], [72, '14'], [73, '8'], [73, '14'], [74, '5'], [74, '1'], [75, '5'], [75, '1'], [76, '5'], [76, '1'], [77, '15'], [78, '15'], [79, '8'], [79, '6'], [80, '8'], [80, '6'], [81, '13'], [81, '16'], [82, '13'], [82, '16'], [83, '18'], [83, '7'], [84, '18'], [84, '7'], [85, '18'], [85, '7'], [86, '8'], [87, '8'], [87, '10'], [88, '14'], [89, '14'], [90, '8'], [91, '8'], [91, '10'], [92, '12'], [92, '14'], [93, '12'], [93, '14'], [94, '12'], [94, '14'], [95, '5'], [95, '1'], [96, '6'], [97, '6'], [98, '8'], [99, '8'], [100, '13'], [101, '13'], [102, '2'], [102, '6'], [103, '2'], [103, '6'], [104, '1'], [105, '1'], [106, '17'], [107, '17'], [108, '18'], [109, '14'], [110, '14'], [111, '1'], [111, '5'], [112, '1'], [112, '5'], [113, '18'], [114, '2'], [115, '18'], [116, '8'], [117, '8'], [118, '8'], [119, '8'], [120, '8'], [121, '8'], [121, '6'], [122, '6'], [122, '3'], [123, '9'], [123, '7'], [124, '10'], [124, '6'], [125, '13'], [126, '15'], [127, '9'], [128, '18'], [129, '8'], [130, '8'], [130, '7'], [131, '8'], [131, '10'], [132, '18'], [133, '18'], [134, '8'], [135, '13'], [136, '15'], [137, '18'], [138, '5'], [138, '8'], [139, '5'], [139, '8'], [140, '5'], [140, '8'], [141, '5'], [141, '8'], [142, '5'], [142, '7'], [143, '18'], [144, '10'], [144, '7'], [145, '13'], [145, '7'], [146, '15'], [146, '7'], [147, '11'], [148, '11'], [149, '11'], [149, '7'], [150, '6'], [151, '6']]

In [ ]:
with open('pokemon_id_type_id.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(pokemon_type)

In [ ]:
df_rename = df.rename(columns={
    'ぜんこくNo.': 'pokemon_id', 
    '名前': 'name', 
    'HP': 'hit_points', 
    '攻撃': 'attack', 
    '防御': 'defense', 
    '特攻': 'special_attack', 
    '特防': 'special_defense', 
    '素早さ': 'speed', 
})

In [ ]:
df_rename = df_rename.drop("タイプ1", axis=1)
df_rename = df_rename.drop("タイプ2", axis=1)
df_rename.head()

,pokemon_id,name,hit_points,attack,defense,special_attack,special_defense,speed
0,1,フシギダネ,45,49,49,65,65,45
1,2,フシギソウ,60,62,63,80,80,60
2,3,フシギバナ,80,82,83,100,100,80
3,4,ヒトカゲ,39,52,43,60,50,65
4,5,リザード,58,64,58,80,65,80

In [ ]:
df_rename.to_csv('pokemon.csv', index=False)